@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color:#171521;

    font-family: 'Poppins', sans-serif;
}

#container {
    border-radius: 5px;
    background:#252436;
    width: 90vw;
    max-width: 700px;
    height: 60vh;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: calc(70% + 30px) auto;
    position: relative;
    color: #6c6c76; 
}

#menu-container {
    border-right: 1px solid #171521;
}
#menu-container div {
    margin: 10px 20px 20px 20px;
}

#number-container {
    font-size: larger;
    color: white;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#canvas-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #171521;
}

#number {
    display: flex;
    justify-content: center;
    align-items: center;
}

#number {
    font-size: 50px;
}

canvas {
    background-color: black;
    height: 70%;
    margin-top:30px;
    position: absolute;
}

#canvas {
    z-index: 1;
}
#scaling-canvas {
    z-index: 0;
    height: 28px;
    width: 28px;
}
